---
import fs from 'fs/promises';
import path from 'path';

let contributors: any[] = [];

const fetchData = async () => {
  try {
    const filePath = path.resolve('src/data/contributors.json'); // Adjust the path as necessary
    const data = await fs.readFile(filePath, 'utf-8');
    const jsonData = JSON.parse(data);
    contributors = Object.keys(jsonData);
  } catch (error) {
    console.error('Error fetching data:', error);
  }
};

await fetchData();
---
<h4>Owner</h4>
<img src="/api/v1/imgs/contributor/altie122.png" alt="altie122" class="w-full" />
<h4>Contributors</h4>
<div class="columns-1 md:columns-2">
  {contributors.map(username => (
    username == 'altie122' ? null : (
      <img src={`/api/v1/imgs/contributor/${username}.png`} alt={username} class="w-full" />
    )
  ))}
</div>