---
import Layout from '@/layouts/base.astro';
import { Button } from '@components/ui/button'
---
<Layout>
	<div class="flex flex-col items-center justify-center h-screen container mx-auto gap-3">
		<img src="/bcuwTitleSquare.png" alt="BCUW Logo"class="w-1/2 h-auto"/>
		<h1 class="text-4xl font-bold">BlossomCraft Unoffical Wiki</h1>
		<h2>Website rewrite/Alpha Coming Soon</h2>
		<a href="https://www.bcuw.xyz/"><Button client:load >Visit Production Site</Button></a>
	</div>
</Layout>
