---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/Sidebar.astro';
---
<div>
  <Default {...Astro.props}><slot /></Default>
</div>
<a href="https://blossomcraft.org/" target="_blank" class="bc_logo_link">
  <img src="/bcuwTitleNormal.png" alt="BCUW Logo" />
</a>